{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<h2>Hello Employee {{ user.username }}!</h2>
    <form action="{% url 'employees:index' %}" method="post">
        {% csrf_token %}
        <h4>Zip Code:<input type="text" name="zip_code" id="zip_code"><br></h4>
        <h6><input type="submit" value="Submit"></h6>
    </form>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}