{% extends 'base.html' %}

{% block title %} Employee Home {% endblock %}

{% block content %}
 {% if user.is_authenticated %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome {{ user.username }}!</h1>
<div class="center5">
        <h1 class="create">Please sign up! </h1>
    <form class=" form2 container" action="{% url 'employees:create' %}" method="post">
        {% csrf_token %}
        <h2>Name:  <input type="text" name="name" id="name"><br></h2>
        <h2>Zip Code:  <input type="text" name="zip_code" id="zip_code"><br></h2>
        <input type="submit" value="Sign up">
    </form>
    <div class="background2">
        <h1>If you've already signed up, please continue!</h1>
        <button><a href="{% url 'employees:my_view' %}">Continue</a></button>
    </div>
</div>
        {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}