{% extends 'base.html' %}

{% block title %} Set Zip Code {% endblock %}

{% block content %}
<br>
<br>
<br>
  {% if user.is_authenticated %}
<h2 class="create">{{ user.username }}, please enter your assigned zip code.</h2>
    <form class=" form container" action="{% url 'employees:zip_code' %}" method="post">
        {% csrf_token %}
        <div class="center2">
            <h6>Name:  <input type="text" name="name" id="name" value="{{employee.name}}"><br></h6>
            <h6>Zip Code:<input type="text" name="zip_code" id="zip_code" value="{{employee.zip_code}}"><br></h6>
            <h6><input type="submit" value="Submit"></h6>
        </div>
    </form>
{% endif %}
{% endblock %}